{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus
      saepe ipsum veniam unde nihil, eos provident porro aspernatur sint placeat
      commodi laboriosam odit at quis rem, quam cupiditate vero! Vel nemo
      asperiores ab! Animi assumenda perspiciatis fugiat corrupti quisquam
      quibusdam aperiam, ratione rerum quod labore nesciunt eveniet perferendis
      sint in totam at error quos soluta rem aliquid. Obcaecati debitis
      voluptatibus nisi at nostrum ex. Nihil, autem facere. Eum illum asperiores
      itaque delectus molestiae! Eligendi corporis pariatur rerum labore maiores
      ea officia explicabo obcaecati sit repellat. Ab maiores veniam qui omnis
      et illo placeat esse culpa deserunt! Laborum reiciendis nisi tempora!
    </p>

    <div class="text-center">
      <a class="btn btn-secondary" href="/signin"> Sign in </a>
      <a class="btn btn-dark" href="/signup"> Sign up </a>
    </div>
  </section>
</main>

{% endblock %}
